In [17]:
import pandas as pd

In [25]:
df = pd.read_excel(r'C:\Users\summer.cc.chen\Desktop\aipro_ai_development\AI_PRO_PRODRANK_SERVICE_APP (客製化個股排序-開發順序3)\data\demo_AI_PRO_PRODRANK_SERVICE_20260111.xlsx')

In [26]:
df

,SNAP_DATE,PARTY_ID_MASK,PROD_ID_1,PROD_ID_2,PROD_ID_3,PROD_ID_4,PROD_ID_5,PROD_ID_6,PROD_ID_7,PROD_ID_8,...,HASHTAGS_11,HASHTAGS_12,HASHTAGS_13,HASHTAGS_14,HASHTAGS_15,HASHTAGS_16,HASHTAGS_17,HASHTAGS_18,HASHTAGS_19,HASHTAGS_20
0,20260105,H255835606,6208,2330,50,692,878,52,00981A,2308,...,(測試)電子業;MACD死亡交叉,(測試)電子業;MACD死亡交叉,(測試)電子業;MACD死亡交叉,(測試)電子業;MACD死亡交叉,(測試)能源業;跌破均線,(測試)科技業;突破周線,(測試)科技業;突破周線,(測試)航運業;突破上官價,(測試)科技業;突破周線,(測試)能源業;跌破均線
1,20260105,A108706626,50,2330,6208,878,56,52,00981A,919,...,(測試)能源業;跌破均線,(測試)電子業;MACD死亡交叉,(測試)科技業;突破周線,(測試)航運業;突破上官價,(測試)科技業;突破周線,(測試)航運業;突破上官價,(測試)科技業;突破周線,(測試)科技業;突破周線,(測試)能源業;跌破均線,(測試)航運業;突破上官價
2,20260105,H177025880,2883,4128,2884,2890,2887I,2891,2885,2892,...,(測試)股票ETF;KD黃金交叉,(測試)電子業;MACD死亡交叉,(測試)航運業;突破上官價,(測試)科技業;突破周線,(測試)電子業;MACD死亡交叉,(測試)電子業;MACD死亡交叉,(測試)能源業;跌破均線,(測試)能源業;跌破均線,(測試)科技業;突破周線,(測試)股票ETF;KD黃金交叉

In [27]:
pd.DataFrame(df.columns).T.\
to_csv(r'C:\Users\summer.cc.chen\Desktop\aipro_ai_development\AI_PRO_PRODRANK_SERVICE_APP (客製化個股排序-開發順序3)\data\demo_AI_PRO_PRODRANK_SERVICE_20260111_columns.txt',
         index=False, header=False)

In [28]:
df.\
to_csv(r'C:\Users\summer.cc.chen\Desktop\aipro_ai_development\AI_PRO_PRODRANK_SERVICE_APP (客製化個股排序-開發順序3)\data\demo_AI_PRO_PRODRANK_SERVICE_20260111_data.txt',
         index=False, header=False)